/* ===== Splash Screen ===== */
@import url(./splash.css);

/* ===== BASE ===== */
@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI"), url("@/assets/fonts/Segoe UI.woff") format("woff");
}

:root {
  /* Color */
  --primary-text-color: #fff;
  --secondary-text-color: #737373;

  --link-color: #00376b;
  --error-color: #ed4956;

  --bg-color: #000;
  --hover-color: rgba(255, 255, 255, 0.1);

  --more-modal-color: #262626;

  --secondary-bg-color: #fafafa;
  --separator-color: #dbdbdb;

  --border-color: #dbdbdb;
  --border-dark-color: #a8a8a8;
  --border-super-dark-color: #262626;

  --button-color: #262626;
  --primary-button-color: #0095f6;
  --primary-button-hover-color: #1877f2;

  /* Width */
  --feed-sidebar-width: 319px;

  /* Nav width */
  --nav-narrow-width: 72px;
  --nav-medium-width: 244px;

  /* More modal width */
  --more-modal-width: 266px;
}

/* ===== BASE ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Roboto", sans-serif;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  /* vertical-align: middle; */
}

input,
button {
  outline: none !important;
  border: none;
}

button {
  cursor: pointer;
}

.fix::before,
.fix::after {
  content: "";
  display: table;
  clear: both;
}

.col-1 {
  width: 8.3333%;
}
.col-2 {
  width: 16.6666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.3333%;
}
.col-5 {
  width: 41.6666%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.3333%;
}
.col-8 {
  width: 66.6666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.3333%;
}
.col-11 {
  width: 91.6666%;
}
.col-12 {
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.grid {
  display: grid;
}

.container {
  padding: 0 15px;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
