/* ===== Splash Screen ===== */
@import url(./splash.css);

/* ===== BASE ===== */
@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI"), url("@/assets/fonts/Segoe UI.woff") format("woff");
}

/* ===== Light ===== */
:root {
  /* Color */
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #fafafa;

  --primary-text-color: #000000;
  --secondary-text-color: #737373;

  --link-color: #00376b;
  --error-color: #ed4956;
  --separator-color: #f4f4f4;
  --separator-modal-color: #dbdbdb;
  --hover-color: #f2f2f2;
  --modal-color: #ffffff;

  --skeleton-bg-color: #efefef;

  --border-color: #dbdbdb;
  --border-dark-color: #a8a8a8;
  --border-super-dark-color: #262626;

  --primary-button-color: #0095f6;
  --primary-button-hover-color: #1877f2;
  --secondary-button-color: #efefef;
  --secondary-button-hover-color: #dbdbdb;

  --gradient-lavender: 211, 0, 197;
  --gradient-orange: 255, 122, 0;
  --gradient-pink: 255, 1, 105;
  --gradient-purple: 118, 56, 250;
  --gradient-red: 255, 48, 64;
  --gradient-yellow: 255, 214, 0;

  /* Width */
  --feed-sidebar-width: 319px;

  /* Nav width */
  --nav-narrow-width: 72px;
  --nav-medium-width: 244px;

  /* More modal width */
  --more-modal-width: 266px;
}

:root svg {
  color: #000;
  fill: #000;
}

/* ===== Dark ===== */
:root.dark {
  --primary-bg-color: #000;
  --secondary-bg-color: #fafafa;

  --primary-text-color: #fff;
  --secondary-text-color: #737373;

  --link-color: #e0f1ff;
  --error-color: #ed4956;
  --separator-color: #5555554d;
  --hover-color: #ffffff1a;
  --modal-color: #262626;

  --separator-modal-color: #363636;

  --border-color: #262626;
  --border-dark-color: #a8a8a8;
  --border-super-dark-color: #262626;
}

:root.dark svg {
  color: #fff;
  fill: #fff;
}

/* ===== BASE ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Roboto", sans-serif;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-text-color);
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

input,
button {
  outline: none !important;
  border: none;
}

button {
  cursor: pointer;
}

.fix::before,
.fix::after {
  content: "";
  display: table;
  clear: both;
}

.col-1 {
  width: 8.3333%;
}
.col-2 {
  width: 16.6666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.3333%;
}
.col-5 {
  width: 41.6666%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.3333%;
}
.col-8 {
  width: 66.6666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.3333%;
}
.col-11 {
  width: 91.6666%;
}
.col-12 {
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.grid {
  display: grid;
}

.container {
  padding: 0 15px;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.separator {
  width: 100%;
  background: var(--separator-color);
}

.separator-big {
  height: 6px;
}

.separator-small {
  height: 1px;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spinner 1s infinite linear;
}

.loading svg {
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
